.formWrapper{
    margin-top: 20px;
}
.formWrapper p{
    font-weight: bold;
}

.formWrapper .btn-group{
    display:flex;
}

.formWrapper.confirm-button{
    display: flex;
    justify-content: flex-end;
}

.lamp{
  margin-top: -5px;
  width: 15px;
  height: 15px;

}
