.toolbar img {
  height: 60px;
  width: auto;
  padding: 8px;
}

@media screen and (max-width: 600px) {
  .toolbar img {
    height: 50px;
  }
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  align-items: center;
  background-color: #FFF;
  color: gray;
  font-weight: 600;
  -webkit-box-shadow: 0px 4px 4px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 4px 4px -4px rgba(0,0,0,0.5);
  box-shadow: 0px 4px 4px -4px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  position: fixed;
  z-index: 10000;
}

.toolbar .heading {
  color: #206F9D;
  font-size: 24px;
  text-algin: left;
}

button.navbar-toggler{
  position: absolute;
  top: 0;
  left: -20px;
  height: 100%;
  background-color: transparent !important;
  border: none !important;
  width: 80px;
}

button.navbar-toggler span.navbar-toggler-icon, button.navbar-toggler span.navbar-toggler-icon:before, button.navbar-toggler span.navbar-toggler-icon:after {
  color: #206F9D;
  height: 4px;
  background-color: #206F9D;
  width: 100%;
  position: absolute;
  max-width: 30px;
}

button.navbar-toggler span.navbar-toggler-icon:before, button.navbar-toggler span.navbar-toggler-icon:after {
  left: 0;
  content:"";
}

button.navbar-toggler span.navbar-toggler-icon:before {
  top: -8px;
}

button.navbar-toggler span.navbar-toggler-icon:after {
  top: 8px;
}

button.navbar-toggler.open span.navbar-toggler-icon {
  height: 0;
}

button.navbar-toggler.open span.navbar-toggler-icon:before {
  transform: rotate(45deg);
  top: 0;
}

button.navbar-toggler.open span.navbar-toggler-icon:after {
  transform: rotate(-45deg);
  top: 0;
}

.collapse.navbar-collapse{
  position: absolute;
  top: 60px;
  left: 0;
  background: white;
  width: 30%;
  height: 100vh;
  padding: 20px;
  padding-left: 40px;
  min-width: 500px;
}

.nav-overlay.open {
  position: fixed;
  background: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.navbar-collapse .nav-item {
  font-size: 20px;
  margin: 8px 0;
}

