.btn .btn-primary .btn-lg{
  width: 100%;
}

.symptom-area-wrapper {
  display: flex;
  margin-bottom: 120px;
}

.symptom-area-wrapper img {
  max-width: 300px;
}

.google{
  width: 255px;
  object-fit: cover;
}

.apple{
  width: 200px;
  object-fit: cover;
}

.linksammlung {
}

.linksammlung img {
  max-width: 150px;
  height: auto;
}
