<div class="content">
  <h1>Willkommen beim SymptomTracker!</h1>
  <h2 class="row col-md-12">Führen Sie ein Symptom-Tagebuch!</h2>
  <div class="symptom-area-wrapper container">
    <div class="row">
      <div class="col col-md-6 col-sm-12">
        <p>Der Symptom-Tracker ermöglicht Ihnen - als bereits positiv getesteter COVID-19 Patient oder Verdachtsfall -
          das Tracking Ihrer Covid-19-Symptome als Tagebuch.
          So erhalten Sie den Überblick über Ihren Krankheitsverlauf sowie Ihren aktuellen Gesundheitsstatus. </p>
        <button type="button" class="btn btn-primary btn-lg"><a routerLink="/profilebasic">Symptome tracken</a></button>
      </div>
      <img class="col-md-6 col-sm-12" src="./assets/img/undraw_to_do_list.svg" alt="Symptome tracken"/>
    </div>
  </div>

  <h2 class="row col-md-12">Sie haben einen Code vom Gesundheitsamt erhalten?</h2>
  <div class="symptom-area-wrapper container">
    <div class="row">
      <img class="col-md-12 col-sm-12" src="./assets/img/undraw_mail_box.svg" alt="Code eingeben"/>
      <div class="col col-md-6 col-sm-12">
        <p>Wenn Sie nach COVID-19 Testung einen Code vom Gesundheitsamt erhalten haben,
          können Sie diesen hier eintragen und im Anschluss Ihr Symptomtagebuch führen.</p>
        <button type="button" class="btn btn-primary btn-lg"><a routerLink="/codeinput">Code eingeben</a></button>
      </div>

    </div>
  </div>
  <h2>Bald ist der SymptomTracker auch im Google Play Store und im App Store verfügbar!</h2>
  <a href=''><img class="google" alt='Jetzt bei Google Play' src='./assets/img/google-play-badge.png'/></a>
  <a href=''><img class="apple" alt='Jetzt im AppStore'
                  src='./assets/img/Download_on_the_App_Store_Badge_DE_RGB_blk_092917.svg'/></a>

  <h3>Sie wollen schon eine Beta-Version?</h3>
  <p>
    <a href='https://github.com/symptomtracker/Android-PWA-Wrapper/releases'>Klicken Sie hier um die
      Beta-Android-Version herunterzuladen</a>
  </p>

  <h2>Finde uns auf den folgenden Channels</h2>
  <div class="linksammlung">
    <a href="https://wirvsvirushackathon.org/" target="_blank"><img src='./assets/img/Logo_Wir-vs-virus.png'></a>
    <a href="https://devpost.com/software/symptomtracker-62xhkp" target="_blank"><img
      src='./assets/img/Devpost_logo.png'></a>
    <a href="https://github.com/symptomtracker/" target="_blank"><img src='./assets/img/GitHub_Logo.png'></a>

  </div>

  <a href="https://www.youtube.com/watch?v=SbXVizakoRI&feature=youtu.be" target="_blank">Unser Video auf YouTube</a>
</div>

