<div class="content">
  <h1>Willkommen beim SymptomTracker!</h1>
  <h2 class="row col-md-12">Führen Sie ein Symptom-Tagebuch!</h2>
  <div class="symptom-area-wrapper container">
    <div class="row">
      <div class="col col-md-6 col-sm-12">
        <p>Der Symptom-Tracker ermöglicht Ihnen - als bereits positiv getesteter COVID-19 Patient oder Verdachtsfall - 
          das Tracking Ihrer Covid-19-Symptome als Tagebuch. 
          So erhalten Sie den Überblick über Ihren Krankheitsverlauf sowie Ihren aktuellen Gesundheitsstatus. </p>
        <button type="button" class="btn btn-primary btn-lg"><a routerLink="/profilebasic">Symptome tracken</a></button>
      </div>
      <img class="col-md-6 col-sm-12" src="./assets/img/undraw_to_do_list.svg" alt="Symptome tracken"/>
    </div>
  </div>

  <h2 class="row col-md-12">Sie haben einen Code vom Gesundheitsamt erhalten?</h2>
  <div class="row col-md-12">
    <div class="col col-md-12">
      <p>Wenn Sie nach COVID-19 Testung einen Code vom Gesundheitsamt erhalten haben, können Sie diesen hier eintragen und im Anschluss Ihr
        Symtomtagebuch führen.</p>
      <button type="button" class="btn btn-primary btn-lg"><a routerLink="/codeinput">Code eingeben</a>
      </button>
    </div>
  </div>
  <!--<h2>Du bist auf der Suche nach weiteren Informationen zum SymptomeTracker?</h2>-->
</div>

<a href='https://symptomtracker.de/meinedaten'><img class="google" alt='Jetzt bei Google Play' src='./assets/img/google-play-badge.png'/></a>
  <a href='https://symptomtracker.de/meinedaten'><img class="apple" alt='Jetzt bei Google Play' src='./assets/img/Download_on_the_App_Store_Badge_DE_RGB_blk_092917.svg'/></a>
