.formWrapper p{
  font-weight: bold;
}

.formWrapper{
  margin-top: 20px;
}

.formWrapper .btn-group{
  display: flex;
}

.formWrapper.confirm-button{
  display: flex;
  justify-content: flex-end;
}

.radio-button{
  position: absolute;
  opacity: 1%;
}

.lamp{
  fill: yellow;
  margin-top: -5px;
  width: 15px;
  height: 15px;

}

