<div class="content" *ngIf="patient">
  <h1>Hallo!</h1>
  <div class="formWrapper data-label">
    <p>Hier können Sie Ihre persönlichen Daten eingeben.</p>
  </div>
  <form name="form" #f="ngForm" (ngSubmit)="onSubmitTest()">
  <div class="name-input">
    <p>Name</p>
    <input required type="text" minlength="2" class="form-control" id="nameInput" aria-describedby="nameHelp"
           placeholder="Geben Sie hier Ihren Namen ein" [(ngModel)]="patient.name" #name="ngModel" name="name">
    <div *ngIf="name.errors?.required && hasFormBeenSubmitted"
         class="alert alert-warning">Bitte geben Sie Ihren Namen ein.
    </div>
      <!--<div *ngIf="name.errors.forbiddenName">
        Name cannot be Bob.
      </div> CustomValidation Example-->
    </div>
    <small id="nameHelp" class="form-text text-muted">Ihre Daten sind bei uns sicher.</small>


  <div class="formWrapper">
    <div class="age-input">
      <p>Alter</p>
      <input required [(ngModel)]="patient.age" name="age" #age="ngModel" type="number" step="1" min=0 max="120"
             class="form-control" id="ageInput" placeholder="Ihr Alter">
      <div *ngIf="age.errors?.required && hasFormBeenSubmitted"
           class="alert alert-warning">Bitte geben Sie ihr Alter korrekt an.
      </div>
    </div>
  </div>

  <div class="formWrapper group-gender">
    <p>Bitte geben Sie Ihr Geschlecht an:</p>
  </div>

    <label class="btn btn-outline-primary" (click)="toggleActiveStatus($event)">
      <input class="radio-button" type="radio" name="selectedBy" id="female" [(ngModel)]="patient.gender"
             value="female" checked #selectedBy="ngModel" required> Weiblich
    </label>
    <label class="btn btn-outline-primary" (click)="toggleActiveStatus($event)">
      <input class="radio-button" type="radio" name="selectedBy" id="male" [(ngModel)]="patient.gender"
             value="male" checked #selectedBy="ngModel" required> Männlich
    </label>
    <label class="btn btn-outline-primary" (click)="toggleActiveStatus($event)">
      <input class="radio-button" type="radio" name="options" id="diverse" [(ngModel)]="patient.gender"
             value="diverse" checked #selectedBy="ngModel" required> Divers
    </label>
    <div class="alert alert-warning" *ngIf="selectedBy.errors?.required && hasFormBeenSubmitted">Die Angabe eines
      Geschlechts ist erforderlich.
    </div>
    <button type="submit" class="btn btn-primary">Weiter</button>
  </form>


  <div class="formWrapper job-label">
    <p>In welchem Berufsfeld / in welcher beruflichen Situation befinden Sie sich gerade?</p>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="job" id="home" (click)="fieldRadioStatus($event)">Ich arbeite
        derzeit von zu Hause
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="job" id="food" (click)="fieldRadioStatus($event)">Lebensmittelbranche
        / Versorger
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="job" id="health" (click)="fieldRadioStatus($event)">Gesundheitsbranche
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="job" id="public" (click)="fieldRadioStatus($event)">Öffentlicher
        Dienst
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="job" id="others" (click)="fieldRadioStatus($event)">Sonstiges
      </label>
    </div>
  </div>

  <div class="formWrapper contact-label">
    <p>Wie viel Kontakt besteht in Ihrer momentanen Tätigkeit zu Mitarbeitern / Kunden?</p>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="contact" id="nocontact" (click)="fieldRadioStatus($event)">kein
        Kontakt
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="contact" id="contact" (click)="fieldRadioStatus($event)">wenig
        Kontakt bis viel Kontakt
      </label>
    </div>
  </div>

  <div class="formWrapper confirm-button">
    <!--<button type="submit" class="btn btn-primary"><a routerLink="/profilecontact">Weiter</a></button>-->
    <button (click)="onSubmit()" type="submit" class="btn btn-primary">Weiter</button>
  </div>
</div>
