.symptom-info {
  font-style: italic;
}

.symptom-name {
  font-weight: bold;
  color: #206F9D;
}

.formWrapper {
  margin-top: 20px;
}

.formWrapper p {
  font-weight: bold;
}

.formWrapper .btn-group {
  display: flex;
}
.symptom-header {
  color: rgb(72, 72, 72);
}

.lamp {
  margin-top: -5px;
  width: 15px;
  height: 15px;
}

.formWrapper.confirm-button{
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 600px) {
  .formWrapper .btn-group.wohlbefinden {
    display: block;
  }
  .formWrapper .btn-group.wohlbefinden label {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 0;
  }
}


