<div class="content">
  <h1> Krankeitssymptome </h1>

  <div class="formWrapper">
    <p> Bitte erfassen Sie Ihre Krankheitssymptome und bewerten Sie, wie stark diese Symptome bei Ihnen ausgeprägt
      sind</p>
    <p class="symptom-info"> Symptomausprägungen gemäß <a
        href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Steckbrief.html#doc13776792bodyText2">RKI</a>
    </p>
  </div>
  <br>

  <div class="well-being formWrapper">
    <p class="symptom-name">Wie ist Ihr allgemeines Wohlbefinden?</p>
    <form>
      <div class="btn-group wohlbefinden">
        <label class="btn btn-outline-primary btn-margin" (click)="toggleActiveStatus($event)">
          <input type="hidden" id="well-being-good"> Gut
        </label>
        <label class="btn btn-outline-primary btn-margin" (click)="toggleActiveStatus($event)">
          <input type="hidden" id="well-being-better"> Besser
        </label>
        <label class="btn btn-outline-primary btn-margin" (click)="toggleActiveStatus($event)">
          <input type="hidden" id="well-being-normal"> Gleichbleibend
        </label>
        <label class="btn btn-outline-primary btn-margin" (click)="toggleActiveStatus($event)">
          <input type="hidden" id="well-being-worse"> Schlechter
        </label>
        <label class="btn btn-outline-primary btn-margin" (click)="toggleActiveStatus($event)">
          <input type="hidden" id="well-being-bad"> Schlecht
        </label>
      </div>
    </form>
  </div>

  <div class="symptom-list formWrapper">
    <div *ngFor="let symptomcategory of categories">
      <h2 class="symptom-header">{{symptomcategory}}</h2>
      <div *ngFor="let symptomelement of symptomGroups[symptomcategory]">
        <app-symptom-question [symptomDescription]="symptomelement"></app-symptom-question>
      </div>
    </div>

    <div class="formWrapper confirm-button">
      <button type="button" class="btn btn-primary btn-lg"><a routerLink="/success">Daten senden</a></button>
    </div>
  </div>
</div>
