<div class="content">
  <h1>Meine Daten</h1>
  <p>Auf dieser Seite finden Sie alle Ihre eingetragenen Daten im Symptomtracker und eine Übersicht über Ihre
    Symptome</p>

  <div class="container data-container">
    <div class="row overall-data-row">
      <div class="col-md">
        <h3>Allgemeine Daten</h3>
        <div class="info-row row">
          <div class="info-col title col">Name</div>
          <div class="info-col info col">{{patient?.name}}</div>
        </div>
        <div class="info-row row">
          <div class="info-col title col">Geschlecht</div>
          <div class="info-col info col">{{patient?.gender}}</div>
        </div>
        <div class="info-row row">
          <div class="info-col title col">Alter</div>
          <div class="info-col info col">{{patient?.age}}</div>
        </div>
        <div class="info-row row">
          <div class="info-col title col">Location</div>
          <div class="info-col info col">{{patient?.city}}</div>
        </div>
        <div class="info-row row">
          <div class="info-col title col">Code</div>
          <div class="info-col info col">{{patient?.linkedCode}}</div>
        </div>
      </div>
      <div class="col-md">
        <h3>Spezifische Daten</h3>
        <p>Hier finden sich bald die spezifischen Daten ... </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <h3>Symptome</h3>
        <p>Hier finden Sie bald eine Auflistung Ihrer eingegebenen Symptome ... </p>
      </div>
      <div class="col-md"></div>
    </div>
  </div>
  <div></div>
</div>
