<div class="content">
  <h1>Übersicht aller Patienten</h1>
  <div class="data-wrapper">
    <table class="table table-striped">
      <tr>
        <th>Code<img tooltipHtml="Tracking-ID der COVID-Patienten" class="lamp" alt='Hint' src='./assets/img/lamp.svg'/></th>
        <th>Name</th>
        <th>Geschlecht</th>
        <th>Alter</th>
        <th>Stadt</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let patientItem of this.patientsList" (click)="goToPatientDetailView(patientItem?._id)">
        <td>{{patientItem?._id}}</td>
        <td>{{patientItem?.name}}</td>
        <td>{{patientItem?.gender}}</td>
        <td>{{patientItem?.age}}</td>
        <td>{{patientItem?.city}}</td>
        <td><a (click)="goToPatientDetailView(patientItem?._id)">Patient anzeigen</a></td>
      </tr>
    </table>
  </div>
</div>
