<div class="content">
  <h1>SymptomTracker.de</h1>
  <h2>Covid-19-Pandemie – eine Herausforderung für Menschen, Gesundheitsamt und Forschung</h2>
  <div class="row">
    <div class="col col-md col-12">
      <p>Covid-19 ist eine <b>neuartige und weitgehend unerforschte Krankheit</b>, über deren Verlauf und Symptomatik
        noch wenig bekannt ist. Der Umgang mit dieser neuen Erkrankung und deren Symptomen stellt nicht nur Ärzte,
        sondern auch Behörden wie zum Beispiel Gesundheitsämter vor <b>noch nie dagewesene Herausforderungen.</b></p>
      <p>Die große Anzahl an Anfragen von Betroffenen und Patienten bringt die Mitarbeiter der Behörden an ihre
        Belastungsgrenzen. Die Behörden sind durch die vielen Notruftelefonate maßlos überfordert, Informationen
        erfolgen entweder gar nicht oder erst viel zu spät. Lange Wartezeiten auf Testergebnisse verstärken zudem die
        Unsicherheit der Betroffenen.</p>
    </div>
    <div class="col col-md col-12">
      <img src="./assets/img/undraw_medical_care_movn.svg" alt="Covid-19 unerforschte Krankheit"/>
    </div>
  </div>
  <h2>Symptome tracken – behalten Sie Ihre Gesundheitsdaten im Blick!</h2>
  <ul>
    <li>Sie sind mit Covid-19 infiziert?</li>
    <li>Sie haben engen Kontakt zu einem Infizierten, zum Beispiel Ihrem Lebensgefährten?</li>
    <li>Sie sind ein Verdachtsfall?</li>
    <li>Oder Sie möchten einfach auf Nummer sicher gehen und Ihre Gesundheitsdaten im Blick behalten?</li>
  </ul>
  <p>Dann geben Sie jeden Tag Ihre Gesundheitsdaten ein und verfolgen Sie mit Übersichtscharts die Entwicklung typischer
    Covid-19-Symptomatik wie Husten und Fieber und geben Sie anhand vorgegebener Kriterien an, ob Sie zu einer
    Risikogruppe gehören.</p>
  <h2>Symptome tracken – bleiben Sie mit Ihrem Gesundheitsamt im Kontakt!</h2>
  <p>Wenn Sie infiziert sind oder zu einer Personengruppe gehören, für die sich das Gesundheitsamt interessiert, dann
    bekommt Ihr Gesundheitsamt Zugriff auf Ihre Daten und bleibt so immer auf dem aktuellen Stand, wie es Ihnen aktuell
    geht.</p>
  <p>Natürlich nur mit Ihrer Zustimmung und unter Beachtung aller datenschutzrechtlichen Bestimmungen! </p>

  <h2>Symptome tracken – entlasten Sie Ihr Gesundheitsamt!</h2>
  <div class="row">
    <div class="col col-md col-12">
      <img src="./assets/img/undraw_medicine_b1ol.svg" alt="Gesundheitsamt entlasten"/>
    </div>
    <div class="col col-md col-12">
      <p>Die Covid-19-Pandemie stellt Ihr Gesundheitsamt vor nie gekannte Herausforderungen, die es mit begrenzten
        Ressourcen meistern muss. Bereits jetzt stoßen viele Ämter trotz zusätzlichem Personal und längeren Arbeitszeiten an
        ihre Grenzen. Kontaktaufnahme erfolgt erst Tage später, als dies zu wünschen wäre. Mit steigenden Fallzahlen wird
        sich diese Situation nicht verbessern!</p>
      <p>Nutzen wir die Vorteile der Digitalisierung! Entasten Sie Ihr Gesundheitsamt, indem Sie Ihre Gesundheitsdaten
        online Ihrem Gesundheitsamt zur Verfügung stellen! So kann es mit seinen begrenzten Ressourcen mehr Menschen
        schneller beraten und die richtigen Maßnahmen ergreifen!</p>
    </div>
  </div>


  <h2>Symptome tracken – helfen Sie der Forschung mit validierten Gesundheitsdaten!</h2>
  <div class="row">
    <div class="col col-md col-12">
      <p>Die Forschung benötigt validierte Gesundheitsdaten, um den Verlauf von Covid-19 besser nachvollziehen und
        erforschen zu können. Die Validierung Ihrer Gesundheitsdaten erfolgt durch Ihr Gesundheitsamt. Denn es klassifiziert
        Sie als Infizierten und damit Ihre Daten als die Daten eines Infizierten.</p>
      <p>Nur anhand einer Validierung können Forscher verlässliche Daten von Spaßdaten unterscheiden. Und nur verlässliche
        Daten führen zu mehr Wissen, zu mehr Forschung und zu besseren Behandlungsmöglichkeiten. Eine große Anzahl
        validierter Daten sind ein Schatz für die Wissenschaft! Ein Vorteil für Sie und für uns alle!</p>
    </div>
    <div class="col col-md col-12">
      <img src="./assets/img/undraw_medical_research_qg4d.svg" alt="Forschern helfen"/>
    </div>

  </div>

</div>

